<head>
	<title>Evaluacion de taller de Git</title>
</head>
<body>
	<h1>Listado de alumnos</h1>	
	<table>
		<tr>
  			<td><strong>Nombre</strong></td>
  			<td><strong>Cedula</strong></td>
  			<td><strong>Observacion</strong></td>
		</tr>

		<tr>
  			<td>Joseph Borges</td>
  			<td>17.610.729</td>
  			<td>Estudiante de la UBV</td>
		</tr>
	</table>
</body>
